/.envrc
/vendor/bundle
/vendor/libddwaf
/pkg
/tmp
*.gem
*.vim
.ruby-version
.github-token
Gemfile.lock

# C extension build artifacts
/ext/libddwaf/Makefile
/ext/libddwaf/*.o
/ext/libddwaf/*.so
/ext/libddwaf/*.bundle
/ext/libddwaf/mkmf.log
/lib/libddwaf.so
/lib/libddwaf.bundle

*.o
