name: Test for memory leaks
on: [push]
jobs:
  test-memcheck:
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.4", "4.0"]

    name: Test memcheck (Ruby ${{ matrix.ruby }})
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          bundler: latest
          cache-version: v1 # bump this to invalidate cache

      - name: Export libddwaf version to env
        run: |
          VALUE="$(ruby -e 'load "lib/datadog/appsec/waf/version.rb"; puts Datadog::AppSec::WAF::VERSION::BASE_STRING')"
          echo "LIBDDWAF_VERSION=$VALUE" >> "$GITHUB_ENV"

      - name: Install pre-requisites
        run: |
          sudo apt-get update && sudo apt-get install -y libc6-dbg

      - name: Build Valgrind from source
        run: |
          git clone https://sourceware.org/git/valgrind.git && cd valgrind &&
          ./autogen.sh && ./configure &&
          make && sudo make install &&
          valgrind --version

      - name: Build libddwaf with debug info
        run: |
          git clone https://github.com/DataDog/libddwaf && cd libddwaf &&
          git fetch --tags && git checkout tags/${LIBDDWAF_VERSION} &&
          cmake -E make_directory build packages && cd build &&
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=.. -DCPACK_PACKAGE_DIRECTORY=../packages .. &&
          cmake --build . --config Debug --verbose --target libddwaf_shared --target libddwaf_static -j

      - name: Add debuglink
        run: |
          cd libddwaf/build &&
          objcopy --only-keep-debug libddwaf.so libddwaf.so.debug &&
          strip --strip-debug libddwaf.so &&
          objcopy --add-gnu-debuglink=libddwaf.so.debug libddwaf.so &&
          readelf -S libddwaf.so | grep debuglink -n &&
          nm -an libddwaf.so | head

      - name: Copy binary with debug info
        run: |
          mkdir -p vendor/libddwaf/libddwaf-${LIBDDWAF_VERSION}-linux-x86_64/lib/.debug &&
          cp libddwaf/build/libddwaf.so vendor/libddwaf/libddwaf-${LIBDDWAF_VERSION}-linux-x86_64/lib/ &&
          cp libddwaf/build/libddwaf.so.debug vendor/libddwaf/libddwaf-${LIBDDWAF_VERSION}-linux-x86_64/lib/.debug

      - name: Run memory leak specs
        run: |
          bundle exec rake spec:memory_leaks:all
